n8n/trading_cycle.json
{
  "name": "Crypto Bot - Trading Cycle (Every 5 min)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 5 }]
        }
      },
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5001/run",
        "method": "POST",
        "options": { "timeout": 30000 }
      },
      "name": "Run Trading Cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Check Status",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5001/health",
        "method": "GET",
        "options": { "timeout": 5000 }
      },
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, 500]
    }
  ],
  "connections": {
    "Every 5 Minutes": { "main": [[{ "node": "Run Trading Cycle", "type": "main", "index": 0 }]] },
    "Run Trading Cycle": { "main": [[{ "node": "Check Status", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "crypto-bot" }]
}
